langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
PyMuPDF
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
pdfplumber
langchain-huggingface
langchain-chroma
langchain-openai
langchain-groq
beautifulsoup4
faiss-cpu
streamlit
